.bg-light {
  background-color: #f8f9fa!important;
}

.navbar-expand-lg {
  flex-flow: row nowrap;
  justify-content: center;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid {
  flex-wrap: nowrap;
}

.navbar>.container, .navbar>.container-fluid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-light .navbar-brand {
  color: rgba(0,0,0,.9);
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}